.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar{
  background-color: lightgrey;
  color: black;
  height: 30px;
  padding-top: 15px;
}
.links{
  padding-top: 20px;
  margin: 30px;
  align-items: center;
}
.boxes{
  width: 200px;
  border: double;
  height: 300px;
  margin: 50px;
}
.post{
  display: flex;
  flex-direction: row;
}
